# 프로젝트 제외 경로
/frontend/node_modules/
/frontend/node_modules/@alloc/quick-lru/
/frontend/node_modules/@babel/parser/
/frontend/node_modules/@babel/types/
/frontend/node_modules/@jridgewell/gen-mapping/dist/
/frontend/node_modules/@jridgewell/gen-mapping/LICENSE
/frontend/node_modules/@jridgewell/gen-mapping/README.md
/frontend/node_modules/@jridgewell/gen-mapping/types/gen-mapping.d.cts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/gen-mapping.d.mts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/set-array.d.cts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/set-array.d.mts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/sourcemap-segment.d.cts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/sourcemap-segment.d.mts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/types.d.cts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/types.d.mts.map
/frontend/node_modules/@jridgewell/resolve-uri/
/frontend/node_modules/@jridgewell/sourcemap-codec/dist/
/frontend/node_modules/@jridgewell/sourcemap-codec/LICENSE
/frontend/node_modules/@jridgewell/sourcemap-codec/README.md
/frontend/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.cts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.mts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.cts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.mts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/strings.d.cts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/strings.d.mts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.cts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/dist/
/frontend/node_modules/@jridgewell/trace-mapping/LICENSE
/frontend/node_modules/@jridgewell/trace-mapping/README.md
/frontend/node_modules/@jridgewell/trace-mapping/types/binary-search.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/binary-search.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/by-source.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/by-source.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/resolve.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/resolve.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/sort.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/sort.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/sourcemap-segment.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/sourcemap-segment.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/strip-filename.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/strip-filename.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/trace-mapping.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/trace-mapping.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/types.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/types.d.mts.map
/frontend/node_modules/@rolldown/pluginutils/dist/index.cjs
/frontend/node_modules/@rolldown/pluginutils/dist/index.js
/frontend/node_modules/@rolldown/pluginutils/LICENSE
/frontend/node_modules/@types/babel__core/LICENSE
/frontend/node_modules/@types/babel__core/README.md
/frontend/node_modules/@types/babel__generator/LICENSE
/frontend/node_modules/@types/babel__generator/README.md
/frontend/node_modules/@types/babel__template/LICENSE
/frontend/node_modules/@types/babel__template/README.md
/frontend/node_modules/@types/babel__traverse/LICENSE
/frontend/node_modules/@types/babel__traverse/README.md
/frontend/node_modules/@types/estree/LICENSE
/frontend/node_modules/@types/estree/README.md
/frontend/node_modules/@vitejs/plugin-react/
/frontend/node_modules/arg/
/frontend/node_modules/autoprefixer/
/frontend/node_modules/baseline-browser-mapping/dist/cli.cjs
/frontend/node_modules/baseline-browser-mapping/dist/index.cjs
/frontend/node_modules/baseline-browser-mapping/dist/index.js
/frontend/node_modules/baseline-browser-mapping/LICENSE.txt
/frontend/node_modules/baseline-browser-mapping/README.md
/frontend/node_modules/browserslist/
/frontend/node_modules/commander/
/frontend/node_modules/esbuild/
/frontend/node_modules/esbuild/lib/main.js
/frontend/node_modules/escalade/dist/
/frontend/node_modules/escalade/license
/frontend/node_modules/escalade/readme.md
/frontend/node_modules/escalade/sync/index.js
/frontend/node_modules/escalade/sync/index.mjs
/frontend/node_modules/fraction.js/
/frontend/node_modules/jiti/
/frontend/node_modules/jiti/dist/babel.js
/frontend/node_modules/jiti/dist/jiti.js
/frontend/node_modules/lilconfig/LICENSE
/frontend/node_modules/lilconfig/readme.md
/frontend/node_modules/lilconfig/src/index.js
/frontend/node_modules/lines-and-columns/build/index.js
/frontend/node_modules/lines-and-columns/LICENSE
/frontend/node_modules/lines-and-columns/README.md
/frontend/node_modules/nanoid/
/frontend/node_modules/nanoid/non-secure/index.cjs
/frontend/node_modules/nanoid/non-secure/index.js
/frontend/node_modules/picocolors/
/frontend/node_modules/pirates/
/frontend/node_modules/postcss/
/frontend/node_modules/postcss-load-config/
/frontend/node_modules/postcss-nested/
/frontend/node_modules/postcss-selector-parser/
/frontend/node_modules/postcss-value-parser/
/frontend/node_modules/react/LICENSE
/frontend/node_modules/react/README.md
/frontend/node_modules/react-dom/LICENSE
/frontend/node_modules/react-dom/README.md
/frontend/node_modules/rollup/
/frontend/node_modules/source-map-js/
/frontend/node_modules/sucrase/
/frontend/node_modules/tailwindcss/colors.js
/frontend/node_modules/tailwindcss/defaultConfig.js
/frontend/node_modules/tailwindcss/defaultTheme.js
/frontend/node_modules/tailwindcss/lib/
/frontend/node_modules/tailwindcss/lib/css/LICENSE
/frontend/node_modules/tailwindcss/LICENSE
/frontend/node_modules/tailwindcss/loadConfig.js
/frontend/node_modules/tailwindcss/nesting/index.js
/frontend/node_modules/tailwindcss/peers/
/frontend/node_modules/tailwindcss/plugin.js
/frontend/node_modules/tailwindcss/prettier.config.js
/frontend/node_modules/tailwindcss/README.md
/frontend/node_modules/tailwindcss/resolveConfig.js
/frontend/node_modules/tailwindcss/scripts/
/frontend/node_modules/tailwindcss/src/
/frontend/node_modules/tailwindcss/src/css/LICENSE
/frontend/node_modules/tailwindcss/stubs/
/frontend/node_modules/tailwindcss/types/generated/.gitkeep
/frontend/node_modules/tinyglobby/
/frontend/node_modules/tinyglobby/dist/index.cjs
/frontend/node_modules/tinyglobby/dist/index.mjs
/frontend/node_modules/ts-interface-checker/dist/index.js
/frontend/node_modules/ts-interface-checker/dist/types.js
/frontend/node_modules/ts-interface-checker/dist/util.js
/frontend/node_modules/ts-interface-checker/LICENSE
/frontend/node_modules/ts-interface-checker/README.md
/frontend/node_modules/update-browserslist-db/
/frontend/node_modules/vite/