@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { -webkit-font-smoothing: antialiased; overscroll-behavior-y: none; }

.scroll-thin::-webkit-scrollbar { width: 6px; }
.scroll-thin::-webkit-scrollbar-thumb { background: rgba(255,255,255,.18); border-radius: 99px; }
.scroll-thin::-webkit-scrollbar-track { background: transparent; }

.glass { background: rgba(255,255,255,.07); backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px); }
